{% extends 'bjj_app/base.html' %}

{% block content %}

    <div class="container mx-auto" style="width: 80%; margin: 0 auto;">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8">
        <h2 class="text-center">{{ photo.title }}</h2>
        {% if photo.photo %}
          <div class="container mx-auto" style="width: 100%;">
            <img src="{{ photo.photo.url }}" alt="{{ photo.title }} photo" style="width: 100%; height: auto;">
          </div>
        {% endif %}
        <p>{{ phoнеto.content|linebreaks }}</p>
        <hr>
        <div class="col-md-4">
          <p><a href="{% url 'gallery' %}" class="btn btn-primary">&laquo; Повернутися назад</a></p>
        </div>
        <div class="row">
            <p class="link-read-post text-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'add_comment_photo' photo_id=photo.id %}" class="btn btn-primary mt-3">Додати коментар</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3">Авторизуйтесь</a>
                {% endif %}
            </p>


        {% if photo.comments.exists %}
          <ul class="list-group">
            {% for c in photo.comments.all %}
              <li class="list-group-item">
                  <p style="margin: 0;">{{ c.content|linebreaks|truncatewords:20 }} - {{ c.author.username }} at {{ c.date }}</p>
                  {% if request.user == c.author %}
                    <a href="{% url 'delete_comment_photo' comment_id=c.id %}">Видалити</a>
                  {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>Покищо ніхто не залишив коментарів.</p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
