{% extends 'bjj_app/base.html' %}
{% load static %}

{% block content %}

<div class="container" >
  <div class="row">

      <h1>Yamasaki Academy Jiu Jitsu Dnipro</h1>

        <p class="lh-lg">
        Yamasaki Academy Jiu Jitsu Dnipro є представництвом міжнародної школи вивчення бразильського джиу-джитсу.
        В даний час академія Ямасакі має кілька шкіл джиу-джитсу і філій академій єдиноборств у Сполучених Штатах, Бразилії, Домініканській Республіці, Іспанії, Швеції та Україні.

        Yamasaki Academy є одним з провідних клубів бразильського джиу-джитсу в світі. Заснована у 1981 році, Yamasaki Academy виховала багато відомих чемпіонів у світі бойових мистецтв.
        Клуби Yamasaki Academy працюють за певним підходом до тренувань, який включає в себе розвиток фізичної та ментальної сили, техніки бойового мистецтва, спаринги та інші елементи.
        </p>

        <div class="mt-3 text-justify">
        Yamasaki Academy має офіційний статус члена міжнародних федерацій бразильського джиу-джитсу IBJJF, AJP та української федерації UFBJJ.
      </div>
        <div class="mt-3 text-justify">
        Основними цілями нашої академії є розвиток та популяризація бразильського джиу-джитсу в Україні, всебічне вивчення всіх аспектів даного бойового мистецтва, а також популяризація здорового способу життя серед молоді та дорослих.
      </div>
      <div class="mt-3 text-justify">
        Бразильський джиу-джитсу - це високоінтенсивний вид спорту, який допомагає розвивати фізичну та ментальну витривалість, впевненість та самодисципліну. Якщо ви цікавитеся бразильським джиу-джитсу, то Yamasaki Academy може бути одним з варіантів для початку тренувань..
      </div>

    </div>
  </div>

<div style="width: 100%; height: 100%; border: #444444; display: flex; justify-content: center; align-items: center; margin-top: 150px; margin-bottom: 150px;">
    <img src="{% static 'bjj_app/images/fone1.png' %}" style="max-height: 100%; height: auto;">
</div>

{% endblock %}