<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'bjj_app/css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'bjj_app/images/main.ico' %}" type="image/x-icon">
</head>
<body>

<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>

{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}
	{% if not forloop.last %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
	{% else %}
			<li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
	{% endif %}
{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

{% block content %}
{% endblock %}

</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p> 2023 F O O T E R</p>
	</div>
</td></tr></table>


</body>
</html>