{% extends 'bjj_app/base.html' %}

{% block content %}

<div class="container">
  <h1 class="text-center">Тренара/Контакти</h1>
  <div class="row justify-content-center">
    {% for n in trainer %}
    <div class="col-md-6 mb-4">
      <div class="card-body text-center">
        {% if n.photo %}
        <img src="{{ n.photo.url }}" alt="{{ n.full_name }} full_name" class="card-img-top mx-auto d-block" style="width: 400px; height: 500px; object-fit: cover;">
        {% endif %}
        <div class="card-body text-center">
          <h2 class="card-title">{{ n.full_name }}</h2>
          <p class="card-text">{{ n.information|linebreaks }}</p>
          <p class="card-text"><b>Контактний телефон:</b> {{ n.contact_phone }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

<div class="container mx-auto text-center" style="padding: 20px;">
    <p><b>Адреса:</b> вулиця Тимчасова, 2А, Дніпро, Дніпропетровська область, 49047</p>
</div>

</div >
<div class="p-2" style="padding: 20px;">
<div class="container mx-auto text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d785.9256542207094!2d35.07335896652449!3d48.50393720260786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d959719eeb869d%3A0xaadcdaa536e8ca65!2sMinterio!5e0!3m2!1suk!2sua!4v1684169065615!5m2!1suk!2sua"
            width="800" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>

{% endblock %}