{% extends 'bjj_app/base.html' %}

{% block content %}
<div class="container mx-auto text-center" style="width: 80%; margin: 0 auto;">
    <div>
        <h1 class="text-primary">Новини Yamasaki academy Dnipro</h1>
    </div>
</div>



{% for n in post %}
<div class="container mx-auto" style="width: 80%; margin: 0 auto;">
    <div class="media">
        {% if n.photo %}
        <h2 class="media-heading">{{ n.title }}</h2>
        <div class="container mx-auto" style="width: 100%;">
            <img src="{{ n.photo.url }}" alt="{{ n.title }} photo" style="width: 100%; height: 500px; object-fit: cover;">
        </div>
        {% endif %}
        <div class="media-body">
            <p>{{ n.content|linebreaks|truncatewords:50 }}</p>

            <div class="row">
                <div class="col-md-6 d-inline-block">
                    <p class="link-read-post"><a href="{% url 'post_detail' post_slug=n.slug %}" class="btn btn-primary mt-2">Читати повністю</a></p>
                </div>
                <div class="col-md-6 d-inline-block text-right">
                     {% if user.is_authenticated %}
                    <p class="link-read-post"><a href="{% url 'add_comment' news_id=n.id %}" class="btn btn-primary mt-2">Додати коментар</a></p>
                    {% else %}
                    <p class="link-read-post"><a href="{% url 'login' %}" class="btn btn-primary mt-2">Авторизуйтесь</a></p>
                    {% endif %}

                </div>
            </div>

            <hr>

            {% if n.comments.exists %}
            <ul class="list-group">
                {% for c in n.comments.all %}
                <li class="list-group-item">
                    <p style="margin: 0;">{{ c.content|linebreaks|truncatewords:20 }} - {{ c.author.username }} at {{ c.date }}</p>
                    {% if request.user == c.author %}
                    <a href="{% url 'delete_comment' comment_id=c.id %}">Видалити</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <ul class="list-group">
                <li class="list-group-item">
            <p style="margin: 0;">Покищо ніхто не залишив коментарів.</p>
                </li>
            </ul>
            {% endif %}

{#<h3>Reactions:</h3>#}
{#<div class="row">#}
{#    <div class="col-md-6">#}
{#        {% if n.reactions.exists %}#}
{#            {% for r in n.reactions.all %}#}
{#                <div>#}
{#                    {% if r.reaction_type == 'thumbs_up' %}#}
{#                        <i class="bi bi-hand-thumbs-up"></i>#}
{#                    {% elif r.reaction_type == 'heart' %}#}
{#                        <i class="bi bi-heart"></i>#}
{#                    {% endif %}#}
{#                    {{ r.author.username }} at {{ r.date }}#}
{#                    {% if request.user.is_authenticated and r.author == request.user %}#}
{#                        <form method="POST" action="{% url 'delete_reaction' r.pk %}">#}
{#                            {% csrf_token %}#}
{#                            <button type="submit">Delete</button>#}
{#                        </form>#}
{#                    {% endif %}#}
{#                </div>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            <p>No reactions yet.</p>#}
{#        {% endif %}#}
{#    </div>#}
{##}
{#    <div class="col-md-6 text-right">#}
{#        <form method="POST" action="{% url 'add_reaction' news_id=n.id %}">#}
{#            {% csrf_token %}#}
{#            <select name="reaction_type" id="id_reaction_type">#}
{#                {% for choice in reaction_choices %}#}
{#                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#            <button type="submit">Add Reaction</button>#}
{#        </form>#}
{#    </div>#}
{#</div>#}

        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
