{% extends 'bjj_app/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    {% for n in post %}
        <div>
            <h2>{{ n.title }}</h2>
            {% if n.photo %}
                <img src="{{ n.photo.url }}" alt="{{ n.title }} photo">
            {% endif %}
            <p>{{ n.content|linebreaks|truncatewords:50 }}</p>

            <div class="clear"></div>
            <p class="link-read-post"><a href="{% url 'add_comment' news_id=n.id %}">Додади коментар</a></p>


            <h3>Comments:</h3>
                {% if n.comments.exists %}
                    <ul>
                        {% for c in n.comments.all %}
                            <li>
                                {{ c.content|linebreaks|truncatewords:20 }} - {{ c.author.username }} at {{ c.date }}
                                {% if request.user == c.author %}
                                    <a href="{% url 'delete_comment' comment_id=c.id %}">Видалити</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No comments yet.</p>
                {% endif %}

            <h3>Reactions:</h3>
                {% if n.reactions.exists %}
                    <ul>
                        {% for r in n.reactions.all %}
                            <li>{{ r.reaction_type }} - {{ r.author.username }} at {{ r.date }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No reactions yet.</p>
                {% endif %}

                    <form method="POST" action="{% url 'add_reaction' news_id=n.id %}">
                        {% csrf_token %}
                        <select name="reaction_type" id="id_reaction_type">
                            {% for choice in reaction_choices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Add Reaction</button>
                    </form>

            <div class="clear"></div>
            <p class="link-read-post"><a href="{% url 'post_detail' post_slug=n.slug %}">Читати повністю</a></p>

        </div>

        <hr>
    {% endfor %}
{% endblock %}
