{% extends 'bjj_app/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h1 class="text-center">Розклад тренувань</h1>

    <div style="width: 100%; height: auto;  display: flex; justify-content: center; align-items: center;">
        <img src="{% static 'bjj_app/images/logo3.png' %}" style="width: 40%; height: 40%;  display: flex; justify-content: center; align-items: center;">
    </div>

    <h2 class="text-center">Доросла група</h2>
    <table class="table table-bordered table-hover text-center mx-auto">
      <thead class="table-dark">
        <tr>
          <th class="text-center">День тижня</th>
          <th class="text-center">Початок заняття</th>
          <th class="text-center">Кінець заняття</th>
          <th class="text-center">Формат</th>
          <th class="text-center">Тренер</th>
        </tr>
      </thead>
      <tbody>
        {% for item in schedule %}
        {% if item.group == 'Adult' %}
          <tr>
            <td>{{ item.get_weekday_display }}</td>
            <td>{{ item.start_time|time:"H:i" }}</td>
            <td>{{ item.end_time|time:"H:i" }}</td>
            <td>{{ item.forma }}</td>
            <td>{{ item.trainer.full_name }}</td>
          </tr>
        {% endif %}
        {% empty %}
          <tr>
            <td colspan="5">Тренування відсутні</td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="container">
    <h2 class="text-center">Дитяча група</h2>
    <table class="table table-bordered table-hover text-center mx-auto">
      <thead class="table-dark">
        <tr>
          <th class="text-center">День тижня</th>
          <th class="text-center">Початок заняття</th>
          <th class="text-center">Кінець заняття</th>
          <th class="text-center">Формат</th>
          <th class="text-center">Тренер</th>
        </tr>
      </thead>
      <tbody>
        {% for item in schedule %}
        {% if item.group == 'Kids' %}
          <tr>
            <td>{{ item.get_weekday_display }}</td>
            <td>{{ item.start_time|time:"H:i" }}</td>
            <td>{{ item.end_time|time:"H:i" }}</td>
            <td>{{ item.forma }}</td>
            <td>{{ item.trainer.full_name }}</td>
          </tr>
        {% endif %}
        {% empty %}
          <tr>
            <td colspan="5">Тренування відсутні</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
